.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: auto;
  width: 1000px; /* Set the width */
  height: 700px; /* Set the height to make it square */
  align-items: center;
  justify-content: center; /* Centers content inside the header */
  border: 2px solid skyblue;
  box-shadow: 0 0 15px skyblue, 0 0 30px skyblue; /* for glowing effect */
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
